:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Manrope", sans-serif;
  background-color: var(--light-grayish-blue);
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}

p {
  color: var(--desaturated-dark-blue);
}

.container {
  width: 325px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}

.img-top {
  width: 100%;
  height: 210px;
  margin-bottom: 15px;
  object-position: top;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.text-container {
  width: 100%;
  padding: 10px 25px;
}

.text-container h1 {
  font-weight: 700;
  color: var(--very-dark-grayish-blue);
  text-align: justify;
  margin-bottom: 15px;
  font-size: 15px;
}

.text-container .article-preview {
  width: 100%;
  font-size: 13px;
  margin-bottom: 30px;
}

.author-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author-info {
  width: 100%;
  margin-right: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-date p:first-child {
  font-weight: 700;
}

.author-container img {
  width: 50px;
  border-radius: 100%;
}

.share-button {
  border-radius: 100%;
  padding: 7px;
  border: none;
  z-index: 1;
  cursor: pointer;
  background-color: var(--light-grayish-blue);
  transition: 0.2s;
}

.share-button:hover,
.share-button--active {
  background-color: var(--grayish-blue);
}

.share-button--active:hover {
  background-color: var(--light-grayish-blue);
}

.share-button .share-img {
  width: 17px;
}

.share-img--active {
  filter: var(--light-grayish-blue);
}

.social-media-container {
  width: 100%;
  padding: 25px;
  background-color: var(--very-dark-grayish-blue);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: 0.2s;
}

.social-media-container--active {
  opacity: 1;
}

.social-media-container div p {
  font-size: 15px;
  margin-right: 20px;
  letter-spacing: 5px;
  color: var(--light-grayish-blue);
}

.icons-container {
  width: 35%;
  display: flex;
  justify-content: space-between;
}

.icons-container a {
  display: flex;
  justify-content: center;
  align-items: center;
}
